// All Global CSS
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Open+Sans&family=Lato&family=Montserrat&family=Oswald&family=Raleway&family=Nunito&family=Playfair+Display&family=Pacifico&family=Dancing+Script&family=Shadows+Into+Light&family=Abril+Fatface&family=Merriweather&family=Ubuntu&family=Crimson+Text&family=Poppins&family=Source+Sans+3&family=Roboto+Condensed&family=Roboto+Slab&family=PT+Sans&family=Noto+Sans&family=Work+Sans&family=Mulish&family=Quicksand&family=Inconsolata&family=Titillium+Web&family=Karla&family=Josefin+Sans&family=Nunito+Sans&family=Fira+Sans&family=PT+Serif&family=Rubik&family=Libre+Baskerville&family=Arimo&family=Hind&family=Barlow&family=Mukta&family=Inter&family=Abel&family=Bitter&family=Exo+2&family=Archivo&family=Comfortaa&family=IBM+Plex+Sans&family=Bebas+Neue&family=Cabin&family=Spectral&family=Libre+Franklin&family=Yanone+Kaffeesatz&family=Teko&family=Lobster&family=Anton&family=Noto+Serif&family=EB+Garamond&family=Fjalla+One&family=Oxygen&family=Cairo&family=Merriweather+Sans&family=Questrial&family=Dosis&family=Baloo+2&family=Amatic+SC&family=Indie+Flower&family=Cormorant+Garamond&family=IBM+Plex+Serif&family=Zilla+Slab&family=Permanent+Marker&family=Roboto+Mono&family=Alegreya&family=Vollkorn&family=Russo+One&family=Lora&family=Catamaran&family=Prompt&family=Sacramento&family=Caveat&family=Heebo&family=Asap&family=Space+Mono&family=Bree+Serif&family=Fredoka&family=Satisfy&family=Alegreya+Sans&family=Exo&family=PT+Sans+Narrow&family=Varela+Round&family=Nanum+Gothic&family=Cinzel&family=Jost&family=Noto+Sans+JP&family=Fira+Code&family=DM+Sans&family=Great+Vibes&family=Maven+Pro&family=Source+Code+Pro&family=Architects+Daughter&family=Didact+Gothic&family=Crete+Round&family=Lobster+Two&family=Josefin+Slab&family=Patua+One&family=Kalam&family=Archivo+Narrow&family=Righteous&family=Assistant&family=Courgette&family=Kanit&family=Acme&family=Source+Serif+4&family=Amiri&family=Concert+One&family=Signika&family=Domine&family=Red+Hat+Display&family=Orbitron&family=Overpass&family=Manrope&family=Cabin+Condensed&family=Old+Standard+TT&family=Archivo+Black&family=Play&family=Gudea&family=Rokkitt&family=Noticia+Text&family=Chivo&family=Saira&family=DM+Serif+Display&family=Martel&family=Unna&family=Space+Grotesk&family=Koulen&family=Saira+Condensed&family=Vidaloka&family=Tajawal&family=Sora&family=Rock+Salt&family=Changa&family=Patrick+Hand&family=Poiret+One&family=Frank+Ruhl+Libre&family=Urbanist&family=Sigmar+One&family=Bai+Jamjuree&family=Prata&family=Actor&family=Alfa+Slab+One&family=Cantarell&family=Gentium+Book+Basic&family=Arapey&family=League+Spartan&family=Hind+Siliguri&family=Cardo&family=Marck+Script&family=Sawarabi+Mincho&family=Pontano+Sans&family=IBM+Plex+Mono&family=Abhaya+Libre&family=Cormorant&family=Bodoni+Moda&family=Hind+Madurai&family=Neuton&family=Be+Vietnam+Pro&family=Encode+Sans&family=Alegreya+SC&family=Saira+Extra+Condensed&family=Commissioner&family=Passion+One&family=Belleza&family=DM+Serif+Text&family=Lexend&family=Neucha&family=Red+Hat+Text&family=Fira+Sans+Condensed&family=Podkova&family=Nanum+Myeongjo&family=Special+Elite&family=Jura&family=Ruda&family=Faustina&family=Glegoo&family=Yellowtail&family=Cinzel+Decorative&family=Sansita&family=Gothic+A1&family=Gochi+Hand&family=Luckiest+Guy&family=Libre+Caslon+Text&family=Noto+Sans+KR&family=Noto+Sans+TC&family=Playfair+Display+SC&family=Tenor+Sans&family=Alata&family=Literata&family=Barlow+Condensed&family=Homemade+Apple&family=Cousine&family=Amita&family=Economica&family=Kreon&family=Reenie+Beanie&family=Cormorant+Infant&family=Tinos&family=Covered+By+Your+Grace&family=Yeseva+One&family=Mali&family=Fraunces&family=Barlow+Semi+Condensed&family=Handlee&family=Khand&family=Sorts+Mill+Goudy&family=Istok+Web&family=Electrolize&family=Rambla&family=Bad+Script&family=Advent+Pro&family=Martel+Sans&family=Noto+Sans+SC&family=Aclonica&family=Overlock&family=Gruppo&family=Fredericka+the+Great&family=Sintony&family=Nanum+Gothic+Coding&family=Lusitana&family=Mitr&family=Londrina+Solid&family=Rufina&family=Niramit&family=Fugaz+One&family=Krub&family=Sarabun&family=Chakra+Petch&family=Bellefair&family=Darker+Grotesque&family=Markazi+Text&family=Michroma&family=Cookie&family=Jaldi&family=Alike&family=M+PLUS+1p&family=Pattaya&family=Reem+Kufi&family=Lateef&family=Amaranth&family=Merienda&family=Quantico&family=Sriracha&family=Antic+Slab&family=Unica+One&family=Shrikhand&display=swap');
// Primary Color Variables
$wscm-primary-light: #efeafc;
$wscm-primary-light-hover: #e6e0fa;
$wscm-primary-light-active: #ccbef5;
$wscm-primary-normal: #5b2de0;
$wscm-primary-normal-hover: #5229ca;
$wscm-primary-normal-active: #4924b3;
$wscm-primary-dark: #4422a8;
$wscm-primary-dark-hover: #371b86;
$wscm-primary-dark-active: #291465;
$wscm-primary-darker: #291465;
$wscm-primary-wscm-light-active: #ccbef5;

// Golden Gradient
$wscm-golden-gradient: linear-gradient(135deg, #FFEEA9 0%, #F1B934 56.55%);

// Light Color Variables
$wscm-light-50: #fcfcfc;
$wscm-light-75: #f3f4f4;
$wscm-light-100: #eef0f0;
$wscm-light-200: #e7e9e9;
$wscm-light-300: #e2e5e5;
$wscm-light-400: #9ea0a0;
$background-color: #F0EFF5;

// Dark Color Variables
$wscm-dark-50: #e8e8e9;
$wscm-dark-75: #a2a1a3;
$wscm-dark-100: #7b7a7d;
$wscm-dark-200: #424145;
$wscm-dark-300: #1b1a1f;
$wscm-dark-400: #131216;
$wscm-dark-500: #101013;

body {
  background-color: #F5F5FA;
}

.mb10 {
  margin-bottom: 10px;
} 

.mb20 {
  margin-bottom: 20px;
}
.p20{
  padding: 20px;
}

.wscm-card {
  border-radius: 4px;
  //border: 1px solid #EBEEF5;
  background-color: #FFF;
  overflow: hidden;
  //color: #303133;
  transition: .3s;
  box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
}

.wscm-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  border: 1px solid $wscm-primary-wscm-light-active;
  text-decoration: none;
}

.infos_selection_handler {
  .el-button--danger:hover {
    color: #FFF !important;
    background-color: #e77070 !important;
    border-color: #e77070 !important;
  }
  .el-button--info:hover {
    color: #FFF !important;
    background-color: #8a8b8f !important;
    border-color: #8a8b8f !important;
  }
  .el-button--success:hover {
    color: #FFF !important;
    // background-color: #6acd38 !important;
    // border-color: #6acd38 !important;
  }
}

.swift_certificate_manager_wrap {
  background-color: #F5F5FA;
  //height: 100vh;
  *,*::after,*::before {
    box-sizing: border-box;
  }
  .el-date-editor  {
    width: 100% !important;
  }
  .el-select {
    width: 100%;
    .el-input {
      input {
        background-color: #fff;
      }
    }
  }

  .el-form-item {
    margin-bottom: 10px;
    .el-form-item__label {
      padding: 0;
    }
  }
}

.el-notification.right {
  z-index: 9999999 !important;
}

.capsule-button {
    border-radius: 100px;
    border: 1px solid $wscm-primary-light-active;
    color: $wscm-primary-normal;
}


.capsule-button {
  &:focus {
    border-radius: 100px;
    border: 1px solid $wscm-primary-light-active;
  }

  &:hover {
    border-radius: 100px;
    border: 1px solid $wscm-primary-light-active;
    background: $wscm-primary-light-hover;
    color: $wscm-primary-dark-hover;
  }

  &:active {
    border-radius: 100px;
    border: 1px solid $wscm-primary-light-active;
    background:$wscm-primary-light-active;
  }
}

// .el-button:focus {
//   color: initial !important;
//   border-color: initial !important;
//   background-color: initial !important;
//   border: initial !important;
// }

// .el-button:hover {
//   color: initial !important;
//   border-color: initial !important;
//   background-color: initial !important;
//   border: initial !important;
// }

.wscm-primary-btn {
  border-radius: 100px;
  background-color: $wscm-primary-normal;
  border-color: $wscm-primary-normal;
  color: white;
  &:focus {
    border-radius: 100px;
    background-color: $wscm-primary-normal !important;
    border-color: $wscm-primary-normal;
    color: white !important;
  }
  &:hover {
    border-radius: 100px;
    background: $wscm-primary-dark-hover !important;
    border-color: $wscm-primary-dark-hover;
    color: white !important;
  }
  &:active {
    border-radius: 100px;
    background: $wscm-primary-dark-active;
    border-color: $wscm-primary-dark-active;
    color: white;
  }
}

.wscm-pro-btn {
  border-radius: 100px;
  background-color: $wscm-dark-300;
  color: white;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  &:hover {
    border-radius: 100px;
    background: $wscm-dark-300 !important;
    color: white !important;
  }
  &:focus {
    background-color: $wscm-dark-300 !important;
    color: white !important;
  }
  span {
    display: flex;
    gap: 5px;
    align-items: center;
   svg {
     path {
       stroke: #FFC94A;
     }
   }
  }
}

.svg-span-btn {
  span {
    display: flex;
    gap: 5px;
    align-items: center;
    svg {
      path {
        stroke: #FFFFFF;
      }
    }
  }
}

.defult-svg-span-btn {
  span {
    display: flex;
    gap: 5px;
    align-items: center;
  }
}

.heading-2 {
  font-size: 28px;
  font-weight: 700px;
  margin-bottom: 20px;
}

.footer {
  margin-top: 30px;
  margin-bottom: 20px;
  .btn {
    display: flex;
    justify-content: flex-end;
    button {
      background-color: #5928e5;
      border-color: #5928e5;
    }
  }
}

.background{
    background-color: $background-color;
}

.header, .footer {
  display: flex;
  margin: 24px 0px;
  // width: 95%;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  background: var(--White, #fff);
  // margin-right: 20px;
}
.header-nospace {
  display: flex;
  margin: 24px 0px;
  // width: 95%;
  padding: 16px;
  align-items: center;
  border-radius: 12px;
  background: var(--White, #fff);
  margin-right: 20px;
}
.wscm-card {
  display: flex;
  margin: 24px 0px;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  background: var(--White, #fff);
}

.wscm_action_btn{
  margin-top: 30px;
  .wscm_primary_btn {
    border-radius: 100px;
    background-color: #5b2de0;
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
  }
}

.wscm_checkbox{
  width: 100%;
    .el-checkbox__inner {
    border: 1px solid #20104E;
    border-radius: 30px;
    background-color: #FFF;
    width: 30px;
    height: 30px;
  }
  .el-checkbox__input.is-checked .el-checkbox__inner{
    background-color: #20104E;
    border-color: #20104E;
    &:after{
      height: 13px;
      left: 10px;
      width: 7px;
      top: 5px;
    }
  }
  .el-checkbox__input.is-checked+.el-checkbox__label {
    color: #1B1A1F;
  }
}

.copy {
  cursor: pointer;
  background: initial !important;
  color: $wscm-primary-normal;
}

//setting page
.wscm-settings-wrap {
  .setting_header {
    .el-radio-group{
      margin-bottom: 10px !important;
      .el-radio-button {
        margin-right: 10px;
        .el-radio-button__inner {
          padding: 12px 40px;
          border: solid 1px;
          border-radius: 35px;
          box-shadow: initial !important;
        }
      }
    }
    .el-radio-button__orig-radio:checked+.el-radio-button__inner {
      background-color: #20104E;
    }
    .el-radio-button:focus:not(.is-focus):not(:active):not(.is-disabled) {
      box-shadow: initial !important;
    }
    p {
      margin: 15px 0;
    }
  }
  .settings-item {
    width: 100%;
    margin-bottom: 20px;
    .header-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-style: solid;
      padding-bottom: 15px;
      border-top: 0;
      border-right: 0;
      border-left: 0;
      border-color: #ddd;
      border-width: 1.3px;
      margin-bottom: 15px;
      .title {
        padding: 0;
        margin: 0;
      }
    }
    .setting-form {
      width: 60%;
      display: flex;
      /* gap: 30px; */
      /* justify-content: center; */
      align-items: center;
      .label{
        width: 80%;
      }
      .wscm-socia-icon {
        width: 100%;
      }
      .el-checkbox {
        width: 100%;
      }
    }
    .payment_item {
      width: 60%;
    }
  }
  .wscm-card {
    display: flex;
    flex-direction: column;
    //.settings-item {
    //  width: 48%;
    //}
  }
  .wscm-socia-icon {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    a {
      border: solid #ddd;
      display: flex;
      width: 45px;
      height: 45px;
      text-align: center;
      border-radius: 100px;
      align-items: center;
      justify-content: center;
      svg {
        width: 35px;
        height: 35px;
        padding: 7px;
        // fill: #5B2DE0;
        // stroke: #5B2DE0;
      }
    }
  }
  .wscm-wordpress-icon {
    width: 100%;
    text-decoration: none;
    border: solid #ddd;
    padding: 9px;
    border-radius: 20px;
  }
  .wscm-buy-icon {
    width: 100%;
    text-decoration: none;
    border: solid #ddd;
    padding: 9px;
    border-radius: 20px;
  }

  .setting-copy-field {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    .el-icon-document-copy {
      font-size: 23px;
    }
  }
}

.settings-item {
  .el-tabs {
    .el-tabs__item {
      color: #424145;
    }
    .el-tabs__active-bar {
      background-color: #424145;
    }
  }
}

.settings-item  {
  .el-checkbox__input.is-focus .el-checkbox__inner {
      border-color: #20104E;
  }

  .el-checkbox__input.is-checked .el-checkbox__inner
  {
      background-color: #20104E;
      border-color: #20104E;
  }

  .el-checkbox__input.is-checked+.el-checkbox__label {
      color: #20104E;
  }
}

.text-align-center {
  text-align: center;
}


.upgrade-to-popup-wrapper {
  .upgrade-dialog {
    margin-top: 6vh !important;
    border-radius: 10px;
  }
  /* remove default padding */
  .upgrade-dialog .el-dialog__body {
    padding: 0;
  }
  .upgrade-card {
    position: relative;
    display: flex;
    gap: 20px;
    padding: 0px 40px 20px 40px;
    flex-direction: column;
    .wscm-upgrade-header {
      display: flex;
      border-bottom: solid 1px #ddd;
      padding-bottom: 30px;
      gap: 10px;
      .upgrade-left {
        .badge {
          background: #5b2de0;
          color: #fff;
          padding: 6px 12px;
          border-radius: 8px;
          font-size: 12px;
        }
        width: 40%;
        h1 {
          font-size: 30px;
          margin: 15px 0;
          line-height: 44px;
        }
        p {
          color: #6b7280;
          line-height: 25px;
          word-break: normal;
          overflow-wrap: break-word;
        }
      }
      .upgrade-right {
        width: 60%;
        text-align: center;
        img {
          max-width: 100%;
        }
      } 
    }
    .wscm-upgrade-footer {
      .features-section {
        span {
          font-size: 14px;
          font-weight: 700;
          color: #000;
        }
        .features {
          display: flex;
          gap: 120px;
          margin-bottom: 20px;
          ul {
            list-style: none;
            padding: 0;
          }
          li {
            margin-bottom: 8px;
            font-size: 14px;
            display: flex;
            align-items: center;
            gap: 8px;
            line-height: 20px;
            i {
              color: #5b2de0;
            }
          }
        }
      } 
      .actions {
        display: flex;
        gap: 10px;
        .btn-primary {
          background: linear-gradient(90deg, #111, #333);
          border: none;
          width: 100%;
          border-radius: 8px;
        }
        .btn-secondary {
          border: 1px solid #ccc;
          width: 100%;
          border-radius: 8px;
        }
      } 
    }
  }
}